@import '../../base/vars.css';

.employeeContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.loadMoreButton {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  background-color: var(--quartenaryBgColor);
  color: var(--secondaryColor);
  border: none;
}