@import '../../base/vars.css';

.bar {
  height: 50px;
  background-color: var(--quartenaryBgColor);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 20px;
  padding-right: 20px;
  position: sticky;
  top: 0px;
}

.label {
  margin-right: 10px;
  color: var(--secondaryColor);
}